body {
  box-sizing: border-box;
  margin: 0 0;
}
.container {
  max-width: 760px;
  margin: 0 auto;
  
}

.wrapper {
  background: url('./img/header-bg.jpg') no-repeat top / contain; 
  height: 1080px; 
}

header {
  font-family: 'Lato', sans-serif;
  text-align: right;
  
}

header a {
  color: #f7f7f7;
  text-decoration: none;
}

header a > span {
  padding-left: 20px;
  padding-right: 20px;
}

.header_up img {
  margin-right: 40px;
  margin-left: 20px;
 }

.header_first {
  line-height: 3em; 
  background: url('./img/header-bg1.png')  center top / cover;
}

.header_second {
  line-height: 6em; 
  background: url('./img/header-bg2.png') no-repeat center top / cover;
}

.header_second ul {
  
  display: flex;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
  font-weight: 900;
  justify-content: flex-end;
  margin-top: 0;
}

.header_second li:not(:last-child){
  padding-right: 50px;
}

.header_second li:nth-last-child(1){
  padding-right: 40px;
}