body {
  box-sizing: border-box;
  margin: 0 0;
}
.container {
  max-width: 760px;
  margin: 0 auto;
  
}

.wrapper {
  background: url('./img/header-bg.jpg') no-repeat top / contain; 
  height: 1080px; 
}

header {
  font-family: 'Lato', sans-serif;
  text-align: right;
  
}

header a {
  color: #f7f7f7;
  text-decoration: none;
}

header a > span {
  font-size: 12pt;
  font-weight: 400;
  padding-left: 25px;
  padding-right: 35px;
}

.semen {
  
  position: relative;
  top: 8px;
  right: 31px;
  
}

.semenText {
  
  position: relative;
  top: -10px;
  right: 52px;
  color: #f7f7f7;
  
}

.elipse {
  
  position: relative;
  top: -5px;
  right: 37px;
  
}

.arrow{
  position: relative;
  margin-right: 40px;
  margin-left: 20px;
 }


.header_first {
  line-height: 3em; 
  background: url('./img/header-bg1.png')  center top / cover;
}

.header_second {
  line-height: 6em; 
  background: url('./img/header-bg2.png') no-repeat center top / cover;
}

.header_up{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10pt;
}

.cracker {
  
  position: absolute;
  top: 9px;
  left: 188px;
  
}



.header_second ul {
  
  display: flex;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 11pt;
  justify-content: flex-end;
  margin-top: 0;
}

.header_second li:not(:last-child){
  padding-right: 45px;
}

.header_second li:nth-last-child(1){
  padding-right: 40px;
}